.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formContainer {
    border: 1px solid rgba(189, 189, 189, 1);
    width: 50%;
    padding: 3rem;
    margin: auto;
    border-radius: 24px;
}

.socialContainer {
    display: flex;
}

.socialContainer button {
    background-color: transparent;
    border: transparent;
}

.socialContainer button img {
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form input {
    padding: .5rem;
    border: 1px solid rgba(189, 189, 189, 1);
    border-radius: 8px;
}

.loginButton {
    width: 100%;
    background-color: rgba(47,128,237, 1);
    border: transparent;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
    cursor: pointer;
}

@media (max-width: 500px) {
    .formContainer {
        width: 100%;
        padding: 1rem;
        border: transparent;
    }
}